body
{
	margin: 0;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
	Helvetica, Arial, "Lucida Grande", sans-serif;
	margin-bottom:1000px;
	background-color: #F4F5F5;

}

/* Style the content */
.content
{
	background-color: #F4F5F5;
	display: flex;
	height: 500px;
}
  
article 
{
	background-color: #F4F5F5;
	border-radius: 10px;
	color: #0D1B2A;
}

.articles1
{
	width: 60%; /* On a indiqué une largeur (obligatoire) */
	margin: auto; /* On peut donc demander à ce que le bloc soit centré avec auto */
	text-align: justify;
	padding: 100px;
	margin-bottom: 80px;
	margin-top: 20px;
}
